  .customHeader {
    margin-top: 3%;
  }
  
  .customBody {
    margin-top: 5%;
  }
  
  .custom-sidebar {
    margin-top: 7.4%;
  }
  
  .footer-body {
    margin-top: 3%;
  }
  
  .footer-body a {
    width: 30%;
  }
  
  .flex-column a {
    color: #999;
  }
  
  .coveredIcon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.1em 0.2em;
    background-color: #ffe0a4;
  }
  
  .pull-right {
    float: right;
  }
  
  .pull-left {
    float: left;
  }
  
  .flex-column i {
    display: block;
    padding: 0.75rem 1rem;
  }

  .horizantal-align {
    margin-top: 10px;
  }
  
  .co-orange {
    color: #ffb82f;
  }
  .co-light-orange {
    color: #ffb018;
  }

  .co-dark-orange {
    color: #ffb11d;
  }
  .co-blue {
    color: #2181ff;
    text-align: left;
    margin-left: 10px;
  }
  .co-white {
    color: #ffffff !important;
  }
  .co-grey {
    color: grey;
    margin-left: 10px;
  }

  .label-warning {
      margin-left: 10px
  }

  .label-warning i {
    margin-left: 10px;
    background: white !important;
  }

  .best-price {
      background-color: orange;
      color: white;
      font-size: 15px;
      border-radius: 5px;
      margin-top: 5px;
      padding: 5px 5px 5px 5px;
  }
  
  .no-padding {
    padding: 0 0 0 0;
  }
  
  .inner-padding {
    padding: 0.7% 0.7% 0.7% 0.7%;
  }
  
  .selected {
    border-color: #2181ff;
    border-width: 1.5px;
    padding-right: 0;
    background: #f9fbff;
  }
  
  .offerSection {
    display: inline-grid;
  }

  .horizantal-align-12 {
      margin-top: 14px;
  }
  .totals {
      font-size: 15px;
  }
  
  .saving {
    background-color: #fbf4e8;
    margin: 10px;
  }

  .packages {
    padding-top: 10px
  }
  
  .fixed {
    padding-right: 0;
    margin-top: 15px;
  }
  
  .sub-total {
    border-left: 1px groove #999;
  }

  .sub-total .text-right {
      margin-right: 3px;
  }
  
  .selected .card-body .sub-total {
    background-color: #f9fbff;
  }
  
  .checkbox {
    padding-left: 20px;
    margin-top: -50%;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #1b71c4;
    border-color: #1b71c4;
  }
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  input[type="checkbox"].styled:checked + label:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  
  input[type="checkbox"] .styled:checked + label::before {
    color: #fff;
  }
  
  input[type="checkbox"] .styled:checked + label::after {
    color: #fff;
  }